.header {
  background-color: #FFD635; /* yellow background */
  text-align: center;       /* center everything */
  display: flex;            
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 20px 0;

}

.header p {
  margin: 5px 0 0;
  color: #555;
}

.header-box {
  background-color: #FEEFC3; /* light brown */
  border: 2px solid black;
  padding: 1rem 4rem;
  font-family: "Arial", sans-serif; /* minimal font */
  max-width: 600px;          /* keep it compact */
}
